<nav>
	<a routerLink="/developers" routerLinkActive="active">Developers</a>
	<a routerLink="/bikes" routerLinkActive="active">Bike List</a>
	<a routerLink="/bikes" routerLinkActive="active">Top Bikes</a>
	<a routerLink="/admin" routerLinkActive="active">Admin</a>
	<a routerLink="/bikes" routerLinkActive="active">Sign In</a>
	<a routerLink="/bikes" routerLinkActive="active">Sign Up</a>
	<a routerLink="/bikes" routerLinkActive="active">Contact Us</a>
</nav>
 <router-outlet></router-outlet>
<!-- <app-developers></app-developers>
<app-bikes></app-bikes> -->
