<div class="container">
  <h3>Current Admin : Jeyanthi</h3>
  <div class="panel panel-primary">
    <form>
      <div class="form-group">
        <table>
          <tr>
            <td><label for="name">Admin Name: </label> </td>
            <td><input type="text" class="form-control" id="name" required></td>
          </tr>
          <tr>
            <td><label for="mail">Mail Id: </label> </td>
            <td><input type="text" class="form-control" id="mail"></td>
          </tr>
          <tr>
            <td><label for="contactNo">Contact No: </label> </td>
            <td><input type="text" class="form-control" id="contactNo"> </td>
          </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>